.THIS .Rankbox {
  width: 281.5px;
  height: 245px;
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.THIS .myIconClass svg {
    /*width: 1.3rem;
    height: 1.3rem;*/
    cursor: pointer;
}
.THIS .tableContainer {

    height:calc(100vh - 250px);
    overflow:auto;
    margin-top : 0px;
}
.THIS .selected{
    color:orange;
}
.THIS .removeWhiteSpace{
     word-wrap: break-word;
    white-space: pre-wrap;
        text-align: center;
}
.THIS .RowBG {
  width: 312.7px;
  height: 25px;
  background-color: #ffffff;
}
.THIS .left-align {
    text-align: left;
     overflow: scroll;
    overflow-x: hidden;
    height: 300px;
}
.THIS .right-align {
    text-align: right;
     overflow: scroll;
    overflow-x: hidden;
    height: 300px;
}
.THIS .layoutScroll {
    overflow: scroll;
    overflow-x: hidden;
    height: 1150px;
}
.THIS .filtericon {
    left: 0%;
}.THIS .table {
    border: 1px solid black;
  border-collapse: collapse;
}
.THIS .th {
    border: 1px solid black;
  border-collapse: collapse;
}
.THIS .td {
  border: 1px solid black;
  border-collapse: collapse;
}
.THIS .lastColumn {
    border: 1px solid #dddbda;
    border-collapse: collapse;
}
.THIS .slds-form-element__control{
    padding-left:0% !important;
}
.THIS .analysis {
    color: brown;
    font-size: -webkit-xxx-large;
}
.THIS .slds-text-color_default
{
    color: #A3A6B4 !important;
    font-family: Source Sans Pro !important;
}
.THIS .slds-form-element__label{
    display:none;
}