.THIS.headerClr {
   background-color: #ed047b !important;
    color : white;
}
.THIS .slds-size_1-of-12{
  
   display: contents;
}
.THIS table{
   box-shadow: 2px 3px 5px 0px rgba(228, 32, 118, 0.21);
  display: block;
    width: 100%;
    max-height: fit-content;
    overflow-x: scroll;
}
.THIS tbody th:hover {
 font-size: 1.0025rem;
    transition: 0.3s;
}
.THIS .descriptionCell{
        min-width: 14rem;
}
.THIS th {
    font-size: 1.0025rem;
}
.THIS .colfonttype{
    padding-right:7px !important;
    width: 100% !important;
}
.THIS .cardfonttype{
    width: 100%;
    display: block;
}

.THIS .slds-table thead th {
      color: #e42076;
    font-weight: inherit;
    font-size: 1rem;
}
.THIS .slds-cell-wrap.slds-truncate.removeWhiteSpace {
    min-width: 100px;
}
.THIS tr {
    border-bottom: 1px solid rgba(228,35,120,0.28);

}
.THIS p.slds-cell-wrap {
    padding-right: 0.3rem;
}
.THIS .headtrucnate {
   background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    min-height: 2rem;
}
@media only screen and (max-width: 700px){
.THIS .headtrucnate {
    position: inherit !important;
}}

.THIS .slds-tabs_scoped__content {

    padding: 0px !important;
    padding-top: 10px !important;
}